In [7]:
import pandas as pd
import numpy as np

In [8]:
df1 = pd.read_csv("ias-education.csv")

In [9]:
df2 = pd.read_csv("ias-experience.csv")

In [10]:
df3 = pd.read_csv("ias-profile.csv")

In [11]:
df1

,ID,Name,Cadre,Reference_Value,Qualification,Subject,Category_of_Subject,Division
0,TN003700,Ms. Anna R Malhotra,Tamil Nadu,0,Graduate,English Lit,Languages and Fine Arts,Ordinary
1,TN003700,Ms. Anna R Malhotra,Tamil Nadu,1,P.G.,N.A.,N.A.,First
2,UP011100,Shri Pk Kaul,Uttar Pradesh,0,Certificate,French,Languages and Fine Arts,Ordinary
3,UP011100,Shri Pk Kaul,Uttar Pradesh,1,Graduate,Physics,Natural Sciences,Second
4,UP011100,Shri Pk Kaul,Uttar Pradesh,2,P.G.,Economic Dev.,Social Science and Liberal Arts,Ordinary
...,...,...,...,...,...,...,...,...
22144,WB118X08,Ms. Tamil Oviya S,West Bengal,0,Graduate,N.A.,N.A.,N.A.
22145,WB118X09,Ms. Renu Sogan,West Bengal,0,Graduate,N.A.,N.A.,N.A.
22146,WB118X10,Shri Anuj Pratap Singh,West Bengal,0,Graduate,N.A.,N.A.,N.A.
22147,WB118X11,Ms. Priyanka Singh,West Bengal,0,Graduate,N.A.,N.A.,N.A.
22148,WB118X12,Ms. Wankhede Archana Pandharinath,West Bengal,0,Graduate,N.A.,N.A.,N.A.

In [12]:
df2

,ID,Name,Cadre,Reference_Value,Designation,Level,Office,Organisation,Field_of_Experience,Category_of_Experience,Start_Date,End_Date,Source
0,TN003700,Ms. Anna R Malhotra,Tamil Nadu,0.0,Chairman,Secretary Equivalent,NaN,Centre,Ports,Transport,1985-04-01,1985-07-01,Supremo
1,TN003700,Ms. Anna R Malhotra,Tamil Nadu,1.0,On Leave,Secretary,NaN,Centre,N.A.,N.Applicable,1982-11-01,1985-01-01,Supremo
2,TN003700,Ms. Anna R Malhotra,Tamil Nadu,2.0,Secretary,Secretary,"M/o Edu, Culture & Social Welfare",Centre,Education,Human Resource Dev,1981-08-01,1982-11-01,Supremo
3,TN003700,Ms. Anna R Malhotra,Tamil Nadu,3.0,Chairman,Additional Secretary Equivalent,D/o Agriculture & Cooperation,Centre,Agriculture,Agriculture & Cooperation,1978-12-01,1981-08-01,Supremo
4,TN003700,Ms. Anna R Malhotra,Tamil Nadu,4.0,Additional Secy,Additional Secretary,M/o Agriculture,Centre,Agriculture,Agriculture & Cooperation,1976-08-01,1978-06-01,Supremo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151563,WB119X09,Shri Navneet Mittal,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N.A.,N.A.,Supremo
151564,WB119X10,Shri Manjeet Kumar Yadav,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N.A.,N.A.,Supremo
151565,WB119X11,Shri Utkarsh Singh,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N.A.,N.A.,Supremo
151566,WB119X12,Shri V Teja Deepak,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N.A.,N.A.,Supremo
151567,WB119X13,Shri Shubham Kundal,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N.A.,N.A.,Supremo

In [13]:
df3

,ID,Name,Cadre,Allotment_Year,Date_of_Birth,Date_of_Joining,Source_of_Recruitment,Gender,Place_of_Domicile,Mother_Tongue,...,Last_Education_Division,Last_Designation,Last_Level,Last_Office,Last_Field_of_Experience,Last_Category_of_Experience,Last_Start_Date,Last_End_Date,Source,Gender_Source
0,AM002500,Ms. P P Trivedi,Assam Meghalya,1953,1930-02-27,1953-07-01,Direct Recruitment,Female,Gujarat,Gujarati,...,First,Secretary,Secretary,"M/o Personnel, Public Grievances & Pensions",Personnel Training,Personnel and General Administration,1986-07-01,1988-02-01,Supremo,Supremo
1,AM003800,Shri J C Nampui,Assam Meghalya,1955,1928-08-01,1955-07-01,Direct Recruitment,Male,Assam,English,...,First,N.A.,Secretary,NaN,Planning,Planning & Prog Implementation,1986-11-01,1980-10-30,Supremo,Supremo
2,AM004000,Shri R V Lyngdoh,Assam Meghalya,1956,1933-03-22,1956-07-01,Direct Recruitment,Male,Meghalaya,English,...,Second,Chairman,Additional Secretary,NaN,Power,Energy,1986-08-01,1991-03-01,Supremo,Supremo
3,AM004700,Shri M C Narasimhan,Assam Meghalya,1958,1933-08-23,1958-07-01,Direct Recruitment,Male,Tamil Nadu,Tamil,...,First,N.A.,Joint Secretary,Details Awaited,NaN,N.Applicable,1987-07-01,1988-08-01,Supremo,Supremo
4,AM004900,Shri Sd Phene,Assam Meghalya,1958,1935-04-07,1958-07-01,Direct Recruitment,Male,Karnataka,Marathi,...,Third,Chairman,Secretary,NaN,Personnel Mgmt,Personnel and General Administration,1989-03-01,1993-04-01,Supremo,Supremo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13565,WB917001,Shri Khalid Aizaz Anwar,West Bengal,2009,1966-11-15,2019-02-22,Non-SCS,Male,Not found,N.A.,...,N.A.,Not found,N.A.,Not found,N.A.,N.A.,N.A.,N.A.,DOPT(easynic),TCPD
13566,WB917002,Shri Atanu Majumdar,West Bengal,2009,1965-01-14,2019-02-22,Non-SCS,Male,Not found,N.A.,...,N.A.,"Joint Secretary, Finance Department",N.A.,West Bengal,N.A.,N.A.,2019-12-03,N.A.,DOPT(easynic),TCPD
13567,WB917003,Shri Siddhartha Misra,West Bengal,2009,1966-06-29,2019-02-22,Non-SCS,Male,Not found,N.A.,...,N.A.,Not found,N.A.,Not found,N.A.,N.A.,N.A.,N.A.,DOPT(easynic),TCPD
13568,WB94A301,Shri Sumanta Kumar Ghosh,West Bengal,2005,1962-12-23,2016-02-03,By Selection,Male,-,-,...,NaN,Additional Secy,Not Available,Public Works,Public Works,Public Works,2018-01-02,N.A.,Supremo,Supremo
13569,WB94A302,Shri Rajsekhar Bandyopadhyay,West Bengal,2005,1962-03-14,2016-02-03,By Selection,Male,-,-,...,NaN,Joint Secretary,Not Available,NaN,Finance,Finance,2016-02-16,N.A.,Supremo,Supremo

In [14]:
df = df1.merge(df2, on="ID")

In [15]:
df = df.merge(df3, on="ID")

In [16]:
df

,ID,Name_x,Cadre_x,Reference_Value_x,Qualification,Subject,Category_of_Subject,Division,Name_y,Cadre_y,...,Last_Education_Division,Last_Designation,Last_Level,Last_Office,Last_Field_of_Experience,Last_Category_of_Experience,Last_Start_Date,Last_End_Date,Source_y,Gender_Source
0,TN003700,Ms. Anna R Malhotra,Tamil Nadu,0,Graduate,English Lit,Languages and Fine Arts,Ordinary,Ms. Anna R Malhotra,Tamil Nadu,...,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo,Supremo
1,TN003700,Ms. Anna R Malhotra,Tamil Nadu,0,Graduate,English Lit,Languages and Fine Arts,Ordinary,Ms. Anna R Malhotra,Tamil Nadu,...,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo,Supremo
2,TN003700,Ms. Anna R Malhotra,Tamil Nadu,0,Graduate,English Lit,Languages and Fine Arts,Ordinary,Ms. Anna R Malhotra,Tamil Nadu,...,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo,Supremo
3,TN003700,Ms. Anna R Malhotra,Tamil Nadu,0,Graduate,English Lit,Languages and Fine Arts,Ordinary,Ms. Anna R Malhotra,Tamil Nadu,...,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo,Supremo
4,TN003700,Ms. Anna R Malhotra,Tamil Nadu,0,Graduate,English Lit,Languages and Fine Arts,Ordinary,Ms. Anna R Malhotra,Tamil Nadu,...,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo,Supremo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317285,WB118X09,Ms. Renu Sogan,West Bengal,0,Graduate,N.A.,N.A.,N.A.,Ms. Renu Sogan,West Bengal,...,First,N.A.,Not Available,NaN,NaN,N.Applicable,2018-09-01,N.A.,Supremo,Supremo
317286,WB118X10,Shri Anuj Pratap Singh,West Bengal,0,Graduate,N.A.,N.A.,N.A.,Shri Anuj Pratap Singh,West Bengal,...,First,N.A.,Not Available,NaN,NaN,N.Applicable,2018-09-01,N.A.,Supremo,Supremo
317287,WB118X11,Ms. Priyanka Singh,West Bengal,0,Graduate,N.A.,N.A.,N.A.,Ms. Priyanka Singh,West Bengal,...,First,N.A.,Not Available,NaN,NaN,N.Applicable,2018-09-01,N.A.,Supremo,Supremo
317288,WB118X12,Ms. Wankhede Archana Pandharinath,West Bengal,0,Graduate,N.A.,N.A.,N.A.,Ms. Wankhede Archana Pandharinath,West Bengal,...,First,OSD,Junior Scale,Dte of Panchayats & Rural Dev,Panchayati Raj,Local Self Govt,2021-07-07,N.A.,Supremo,Supremo
317289,WB118X12,Ms. Wankhede Archana Pandharinath,West Bengal,0,Graduate,N.A.,N.A.,N.A.,Ms. Wankhede Archana Pandharinath,West Bengal,...,First,OSD,Junior Scale,Dte of Panchayats & Rural Dev,Panchayati Raj,Local Self Govt,2021-07-07,N.A.,Supremo,Supremo

In [28]:
df = df.drop("Source_y", axis=1)

In [30]:
df = df.rename(columns={"Name_x": "Name"})

In [32]:
df = df.rename(columns={"Cadre_x": "Cadre"})

In [35]:
df

,ID,Name,Cadre,Qualification,Subject,Category_of_Subject,Division,reference_Value,Designation,Level,...,Last_Education_Subject,Last_Education_Division,Last_Designation,Last_Level,Last_Office,Last_Field_of_Experience,Last_Category_of_Experience,Last_Start_Date,Last_End_Date,Gender_Source
0,TN003700,Ms. Anna R Malhotra,Tamil Nadu,Graduate,English Lit,Languages and Fine Arts,Ordinary,0.0,Chairman,Secretary Equivalent,...,N.A.,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo
1,TN003700,Ms. Anna R Malhotra,Tamil Nadu,Graduate,English Lit,Languages and Fine Arts,Ordinary,1.0,On Leave,Secretary,...,N.A.,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo
2,TN003700,Ms. Anna R Malhotra,Tamil Nadu,Graduate,English Lit,Languages and Fine Arts,Ordinary,2.0,Secretary,Secretary,...,N.A.,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo
3,TN003700,Ms. Anna R Malhotra,Tamil Nadu,Graduate,English Lit,Languages and Fine Arts,Ordinary,3.0,Chairman,Additional Secretary Equivalent,...,N.A.,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo
4,TN003700,Ms. Anna R Malhotra,Tamil Nadu,Graduate,English Lit,Languages and Fine Arts,Ordinary,4.0,Additional Secy,Additional Secretary,...,N.A.,First,Chairman,Secretary Equivalent,NaN,Ports,Transport,1985-04-01,1985-07-01,Supremo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317285,WB118X09,Ms. Renu Sogan,West Bengal,Graduate,N.A.,N.A.,N.A.,0.0,N.A.,Not Available,...,Physics,First,N.A.,Not Available,NaN,NaN,N.Applicable,2018-09-01,N.A.,Supremo
317286,WB118X10,Shri Anuj Pratap Singh,West Bengal,Graduate,N.A.,N.A.,N.A.,0.0,N.A.,Not Available,...,Electronics and Communication,First,N.A.,Not Available,NaN,NaN,N.Applicable,2018-09-01,N.A.,Supremo
317287,WB118X11,Ms. Priyanka Singh,West Bengal,Graduate,N.A.,N.A.,N.A.,0.0,N.A.,Not Available,...,Architecture,First,N.A.,Not Available,NaN,NaN,N.Applicable,2018-09-01,N.A.,Supremo
317288,WB118X12,Ms. Wankhede Archana Pandharinath,West Bengal,Graduate,N.A.,N.A.,N.A.,0.0,OSD,Junior Scale,...,Communication,First,OSD,Junior Scale,Dte of Panchayats & Rural Dev,Panchayati Raj,Local Self Govt,2021-07-07,N.A.,Supremo
317289,WB118X12,Ms. Wankhede Archana Pandharinath,West Bengal,Graduate,N.A.,N.A.,N.A.,1.0,N.A.,Not Available,...,Communication,First,OSD,Junior Scale,Dte of Panchayats & Rural Dev,Panchayati Raj,Local Self Govt,2021-07-07,N.A.,Supremo

In [17]:
df.shape

(317290, 44)

In [18]:
df.columns

Index(['ID', 'Name_x', 'Cadre_x', 'Reference_Value_x', 'Qualification',
       'Subject', 'Category_of_Subject', 'Division', 'Name_y', 'Cadre_y',
       'Reference_Value_y', 'Designation', 'Level', 'Office', 'Organisation',
       'Field_of_Experience', 'Category_of_Experience', 'Start_Date',
       'End_Date', 'Source_x', 'Name', 'Cadre', 'Allotment_Year',
       'Date_of_Birth', 'Date_of_Joining', 'Source_of_Recruitment', 'Gender',
       'Place_of_Domicile', 'Mother_Tongue', 'Languages_Known', 'Retired',
       'Retirement_Reason', 'Last_Education_Qualification',
       'Last_Education_Subject', 'Last_Education_Division', 'Last_Designation',
       'Last_Level', 'Last_Office', 'Last_Field_of_Experience',
       'Last_Category_of_Experience', 'Last_Start_Date', 'Last_End_Date',
       'Source_y', 'Gender_Source'],
      dtype='object')

In [24]:
df.isnull().sum()

ID                                   0
Name_x                               0
Cadre_x                              0
Reference_Value_x                    0
Qualification                       30
Subject                           8020
Category_of_Subject               8020
Division                             0
Name_y                               0
Cadre_y                              0
Reference_Value_y                  136
Designation                        136
Level                              138
Office                          140257
Organisation                       138
Field_of_Experience              22892
Category_of_Experience            4969
Start_Date                           0
End_Date                             0
Source_x                             0
Name                                 0
Cadre                                0
Allotment_Year                       0
Date_of_Birth                        0
Date_of_Joining                      0
Source_of_Recruitment                0
Gender                               0
Place_of_Domicile                    0
Mother_Tongue                        0
Languages_Known                  11256
Retired                              0
Retirement_Reason                    0
Last_Education_Qualification      8228
Last_Education_Subject            8228
Last_Education_Division           8228
Last_Designation                  1029
Last_Level                        1029
Last_Office                      77903
Last_Field_of_Experience         30666
Last_Category_of_Experience      13602
Last_Start_Date                      0
Last_End_Date                        0
Source_y                             0
Gender_Source                        0
dtype: int64